tr.rowdarker {
	background-color:	rgb(214,224,242);
	border-top:			1px solid black !important;
}

.markdown-wrap > p, .mad-todo {
	white-space: pre-line;
}

.mad-todo ul, .mad-todo li {
	line-height: 1em;
}

.mad-todo li > p {
	margin-bottom: 0;
}
